	*{
		margin: 0;
		padding: 0;
	}
	ul{
		list-style: none;
	}
	html,body,.main,uni-page-body{
		height: 100%;
		width: 100%;
		background: #fff;
	}
	.mt10{
		margin-top: 20rpx;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.primary{
		color: #fff;
		height: 70upx;
		line-height: 70upx;
		padding: 0 26upx;
		font-size: 34upx;
		background: #409eff;
	}
	.primary:hover{
		background: #66b1ff;
	}