	*{
		margin: 0;
		padding: 0;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul:after{
		display: block;
		clear: none;
		content: '';
	}
	html,body{
		height: 100%;
		width: 100%;
	}
	uni-page-body{
		height: 100%;
		width: 100%;
	}
	.main{
		height: 100%;
		width: 100%;
	}
	.grayBg{
		background: #F4F5F6; 
	}
	uni-app{
		overflow: hidden;
	}
	uni-page-wrapper{
		/* overflow-x: hidden;
		overflow-y: auto; */
		width: 100%;
		position: initial;
	}
	.mt10{
		margin-top: 20rpx;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.primary{
		background: #409eff !important;
		color: #fff;
	}
	.primary,.default{
		height: 70rpx;
		line-height: 70rpx;
		padding: 0 26rpx;
		font-size: 34rpx;
	}
	.primary:hover{
		background: #66b1ff;
	}
	/*行列*/
	.uniRowView{
		background: #fff;
		margin: 0 0 20rpx 0;
	}
	.uniRowList{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20rpx 0rpx 20rpx 20rpx;
		box-sizing: border-box;
	}
	.uniRowListRIcon::after{
		font-family: 'iconfont' !important;
		content: '\e6e0';
		position: absolute;
		right: 10rpx;
		top: 50%;
		color: #bbb;
		font-size: 34rpx;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.uniRowList span{
		font-size: 34rpx;
	}
	.uniRowList switch{
		transform:scale(0.8);
	}
	.uniCloList{
		width: 95%;
		display: flex;
		flex-direction: column;
	}
	.uniCloList p{
		font-size: 34rpx;
	}
	.uniCloList .mandatory:before {
        content: '* ';
        color: red;
	}
	/*带图标行列*/
	.uniRow{
		background: #fff;
		margin: 0 0 20rpx 0;
		padding: 22rpx;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}
	.uniRow > view{
		display: flex;
		flex-direction: row;
		max-width: 90%; 
		overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
	}
	.uniRow > view i{
		font-size: 44rpx;
		margin-right: 20rpx;
		color: #9a9a9a;
	}
	.uniRow > view span{
		font-size: 32rpx;
		width: calc(100% - 50rpx); 
		overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
		color: #4e4e4e;
	}
	.uniRow i{
		font-size: 34rpx;
		margin-right: 10rpx;
		display: flex;
		flex-direction: column-reverse;
		color: #cbcbcb;
	}
	/*上传图片样式*/
	.upView{
		margin-top: 25rpx;
	}
	.upImgView:after{
		clear: both;
		content: '';
		display: block;
	}
	.upImgView li{
		float: left;
		width: 90rpx;
		height: 90rpx;
		margin: 0 25rpx 25rpx 0;
		text-align: center;
		position: relative;
	}
	.upImgView li uni-image{
		width: 100%;
		height: 100%;
	}
	.upImgView img, .upImgView image{
		width: 100%;
		height: 100%;
	}
	.upImgView li span{
		width: 35rpx;
		height: 35rpx;
		line-height: 35rpx;
		border-radius: 50%;
		background: red;
		position: absolute;
		top: -16rpx;
		right: -16rpx;
	}
	.upImgView li span i{
		color: #fff;
		font-size: 36rpx;
		font-weight: bold;
	}
	.upIconView{
		width: 90rpx;
		height: 90rpx;
		border: 5rpx dotted #E3E3E3;
		text-align: center;
	}
	.upIconView i{
		font-size: 70rpx;
		text-align: center;
		line-height: 90rpx;
		display: block;
		z-index: -1;
		color: #E3E3E3;
	}
	
	/*滑动条*/
	uni-slider{
		width: auto !important;
	}
	.sliders{
		width: auto;
	}
	/*选择时间*/
	/* picker-view-column{
		width: 100%;
	} */
	
	/*翻图*/
	.swiper-item{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	/*单选多选*/
	uni-radio .uni-radio-input,uni-checkbox .uni-checkbox-input{
		width: 38rpx;
		height: 38rpx;
	}
	
	/*滚动条*/
	.mainScrool{
		height: 100%;
	}
	/*底部栏*/
	.uni-tabbar{
		box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
	}
	
	/*底部分享栏*/
	.sharePanel{
		width: 100%;
		height: 310rpx;
		display: block;
	}
	.sharePanel > view{
		width: 25%;
		padding: 15rpx 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		float: left;
	}
	.sharePanel > view > view{
		width: 80rpx;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		border-radius: 10rpx;
	}
	.weixinBg{
		background: #30ce39;
	}
	.qqBg{
		background: #2ab6fa;
	}
	.linkBg{
		background: #45ccd0;
	}
	.moreBg{
		background: #f5c340;
	}
	.sharePanel > view > view i{
		color: #fff;
		font-size: 44rpx;
	}
	.sharePanel span{
		font-size: 26rpx;
		margin-top: 10rpx;
	}
	.shareModel{
	    position: fixed;
	    z-index: 100;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(0,0,0,.3);
	}
	.shareBox{
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background: #fafafa;
	    z-index: 101;
	    transition: all 0.3s;
	    transform: translateY(0);
	}
	.shareCancle{
		width: 100%;
	    line-height: 80rpx;
	    background: white;
	    text-align: center;
	    letter-spacing: 20rpx;
	    font-size: 38rpx;
	    color: #2c9dfe;
	    margin-bottom: 0;
	}
	.showShareBox{
		transform: translateY(100%);
	}