	*{
		margin: 0;
		padding: 0;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	html,body{
		height: 100%;
		width: 100%;
	}
	uni-page-body{
		height: 100%;
		width: 100%;
	}
	.main{
		height: 100%;
		width: 100%;
	}
	.grayBg{
		background: #F4F5F6; 
	}
	uni-app{
		overflow: hidden;
	}
	uni-page-wrapper{
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		position: initial;
	}
	.mt10{
		margin-top: 20rpx;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.primary{
		background: #409eff !important;
		color: #fff;
	}
	.primary,.default{
		height: 70rpx;
		line-height: 70rpx;
		padding: 0 26rpx;
		font-size: 34rpx;
	}
	.primary:hover{
		background: #66b1ff;
	}
	/*行列*/
	.uniRowView{
		background: #fff;
		margin: 0 0 20rpx 0;
	}
	.uniRowList{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20rpx 0rpx 20rpx 20rpx;
		box-sizing: border-box;
	}
	.uniRowListRIcon::after{
		font-family: 'iconfont' !important;
		content: '\e6e0';
		position: absolute;
		right: 10rpx;
		top: 50%;
		color: #bbb;
		font-size: 34rpx;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.uniRowList span{
		font-size: 34rpx;
	}
	.uniRowList switch{
		transform:scale(0.8);
	}
	.uniCloList{
		width: 95%;
		display: flex;
		flex-direction: column;
	}
	.uniCloList p{
		font-size: 34rpx;
	}
	.uniCloList .mandatory:before {
        content: '* ';
        color: red;
	}
	
	/*上传图片样式*/
	.upView{
		margin-top: 25rpx;
	}
	.upImgView:after{
		clear: both;
		content: '';
		display: block;
	}
	.upImgView li{
		float: left;
		width: 90rpx;
		height: 90rpx;
		margin: 0 25rpx 25rpx 0;
		text-align: center;
		position: relative;
	}
	.upImgView li uni-image{
		width: 100%;
		height: 100%;
	}
	.upImgView img, .upImgView image{
		width: 100%;
		height: 100%;
	}
	.upImgView li span{
		width: 35rpx;
		height: 35rpx;
		line-height: 35rpx;
		border-radius: 50%;
		background: red;
		position: absolute;
		top: -16rpx;
		right: -16rpx;
	}
	.upImgView li span i{
		color: #fff;
		font-size: 36rpx;
		font-weight: bold;
	}
	.upIconView{
		width: 90rpx;
		height: 90rpx;
		border: 5rpx dotted #E3E3E3;
		text-align: center;
	}
	.upIconView i{
		font-size: 70rpx;
		text-align: center;
		line-height: 90rpx;
		display: block;
		z-index: -1;
		color: #E3E3E3;
	}
	
	/*滑动条*/
	uni-slider{
		width: auto !important;
	}
	.sliders{
		width: auto;
	}
	/*选择时间*/
	/* picker-view-column{
		width: 100%;
	} */