.frontScroll{
	width: 100%;
	height: 100%;
}
.front_ul{
	width: 100%;
	height: 100%;
	margin-top: 22rpx;
}
.front_ul:after{
	clear:both;
	display:block;
	content:" ";
}
.front_li{
	margin-bottom: 22rpx;
	padding: 10rpx;
	font-size: 32rpx;
	display: flex;
	flex-direction: row;
	background: #fff;
}
.front_li .leftView{
	text-align: center;
}
.front_li .leftView i{
	font-size: 56rpx;
	padding: 0 12rpx;
}

.front_li .cotView{
	flex: auto;
	padding: 16rpx;
}
.front_li .cotView .cotBt{
	color: #333;
	font-size: 34rpx;
	margin-bottom: 6rpx;
}
.front_li .cotView .cotStar{
	font-size: 30rpx;
	color: #333;
	margin-bottom: 6rpx;
	margin-left: -8rpx;
}
.front_li .cotView .cotCtx{
	display: flex;
	flex-direction: row;
}
.front_li .cotView .cotCtx > span{
	font-size: 28rpx;
	color: #9a9a9a;
	margin-right: 22rpx;
}
.front_li .cotView .cotCtx .cotCtxToic{
	display: flex;
	flex-direction: row;
	margin-bottom: 6rpx;
}
.front_li .cotView .cotCtx .cotCtxToic p{
	margin: 0 6rpx;
}
.front_li .cotView .cotProgress .progress{
	line-height: 0;
}


.front_li .rightView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.front_li .rightView i{
	font-size: 34rpx;
	padding: 0 6rpx;
	color: #9a9a9a;
}

.html5Bg{
	color: #e44c28;
}
.jsBg{
	color: #f4ce20;
}
.nodejsBg{
	color: #81be00;
}
.css3Bg{
	color: #3b9adc;
}
.reactBg{
	color: #60dbfb;
}
.angularBg{
	color: #a6120d;
}
.vuejsBg{
	color: #41b883;
}