.alarmView{
	width: 100%;
	height: 400upx;
	background: #fff;
	text-align: center;
}
.repeatView{
	background: #fff;
	margin: 20upx 0;
	display: flex;
	flex-direction: column;
	padding: 20upx 60upx 20upx 20upx;
}
.repeatView ul {
	display: flex;
	margin-top: 20upx;
}
.repeatView ul li{
	float: left;
	width: 80upx;
	height: 80upx;
	line-height: 80upx;
	background: #dedede;    
	color: #fff;
    text-align: center;
	font-size: 34upx;
	border-radius: 50%;
	margin-right: 20upx;
}
.usedLi{
	background: #31a2e0 !important;
}