.alarmView{
	height: 400upx;
	padding: 40upx 0;
	overflow: hidden;
	background: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.alarmView ul{
	overflow: auto;
	height: 100%;
	z-index: 1;
}
.alarmView .hoursUl{
	margin-right: 30upx;
}
.alarmView .minutesUl{
	margin-left: 30upx;
}
.alarmView ul li{
	height: 2.6rem;
	border: 1px solid #000;
}
.alarmView ul li span{
	font-size: 80upx;
}
.alarmView .mh{
	width: 100%;
	position: absolute;
	background: rgb(221, 221, 221,0.3);
	font: bold 80upx Arial, Helvetica, sans-serif;
	z-index: 0;
}
.repeatView{
	background: #fff;
	margin: 20upx 0;
	display: flex;
	flex-direction: column;
	padding: 20upx 60upx 20upx 20upx;
}
.repeatView ul {
	display: flex;
	margin-top: 20upx;
}
.repeatView ul li{
	float: left;
	width: 80upx;
	height: 80upx;
	line-height: 80upx;
	background: #dedede;    
	color: #fff;
    text-align: center;
	font-size: 34upx;
	border-radius: 50%;
	margin-right: 20upx;
}
.usedLi{
	background: #31a2e0 !important;
}


