.tabbarBox{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 998;
    background-color: rgb(255, 255, 255);
	display: flex;
    padding-bottom: env(safe-area-inset-bottom);
    border-top: 2rpx solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
}
.tabbarCol{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
.tabbarColActived i{
	color: #43b6f2 !important;
}
,.tabbarColActived span{
	color: #43b6f2 !important;
}
.tabbarCol i{
	font-size: 50rpx;
    color: rgb(122, 126, 131);
	margin-top: 12rpx;
}
.tabbarCol span{
	font-size: 26rpx;
    color: rgb(122, 126, 131);
	margin-bottom: 8rpx;
}